---
import Typography from "./Typography.astro"

const sections = [
	{ name: "Hero", id: "hero" },
	{ name: "About me", id: "about-me" },
	{ name: "Skills", id: "skills" },
]
---

<ul
	class="relative flex flex-col before:absolute before:right-0 before:top-0 before:h-full before:w-[1px] before:rounded-3xl before:bg-neutral-content before:opacity-40 before:content-['']"
>
	{
		sections.map((section, index) => (
			<li id={section.id} class:list={["navigationSliderItem h-14 w-12"]}>
				<Typography
					as="a"
					href={`#${section.id}`}
					fontWeight="light"
					class="flex h-full w-full items-center pl-2"
				>
					0{index}
				</Typography>
			</li>
		))
	}
	<li
		class:list={[
			"marker",
			"absolute right-0 h-0 w-1 rounded-3xl bg-neutral-content content-['']",
			"transform transition duration-700 ease-in-out",
		]}
	>
	</li>
</ul>

<script>
	import { $, $$ } from "@/utils/dom-selector"

	const DISPLAY = {
		markerClass: ".marker",
		navigationSectionClass: ".navigationSection",
		navigationSliderItemClass: ".navigationSliderItem",
	}

	const marker = $(DISPLAY.markerClass)!
	const sections = $$(DISPLAY.navigationSectionClass)
	const items = $$(DISPLAY.navigationSliderItemClass)
	const links = $$(`${DISPLAY.navigationSliderItemClass} a`)

	let yDown: null | undefined | number = null
	let xDown: null | undefined | number = null

	let isScrolling: boolean = false
	const scrollDelay = 1200

	let urlHash = window.location.hash

	// helpers
	function indicatorPosition(e: HTMLElement, link?: HTMLElement) {
		const markerTop = e.offsetTop
		const markerHeight = e.offsetHeight
		marker.style.transform = `translateY(${markerTop}px)`
		marker.style.height = `${markerHeight}px`

		if (link) {
			setActiveItem(link)
		}
	}

	function setActiveItem(e: HTMLElement) {
		items.forEach((item) => {
			item.classList.remove("active")
		})
		e.classList.add("active")
	}

	function getActiveItem() {
		return Array.from(items).find((item) => item.classList.contains("active"))
	}

	function getActiveItemIndex() {
		return Array.from(items).findIndex((item) => item.classList.contains("active"))
	}

	function getItemByHash() {
		const hash = urlHash.replace("#", "")
		const item = Array.from(items).find((item) => {
			return item.id === hash
		})

		if (item) {
			return item
		}

		return items[0]
	}

	function getSectionByHash() {
		const hash = urlHash.replace("#", "")
		const section = Array.from(sections).find((section) => {
			return section.id === hash
		})

		if (section) {
			return section
		}

		return sections[0]
	}

	function getTouches(e: TouchEvent) {
		return e.touches
	}
	// end helpers

	// handlers
	function handleScrollToSection(direction: "up" | "down") {
		const currentIndex = getActiveItemIndex()
		let nextIndex = currentIndex

		if (currentIndex === 0 && direction === "up") {
			return
		}

		if (currentIndex === items.length - 1 && direction === "down") {
			return
		}

		if (direction === "up") {
			nextIndex = currentIndex - 1
		} else {
			nextIndex = currentIndex + 1
		}

		setActiveItem(items[nextIndex])
		indicatorPosition(items[nextIndex])

		links[nextIndex].click()
	}

	function handleWheel(e: WheelEvent) {
		if (isScrolling) return

		isScrolling = true

		if (e.deltaY > 0) {
			handleScrollToSection("down")
		} else {
			handleScrollToSection("up")
		}

		setTimeout(() => {
			isScrolling = false
		}, scrollDelay)
	}

	function handleTouchStart(e: TouchEvent) {
		const firstTouch = getTouches(e)[0]
		xDown = firstTouch.clientX
		yDown = firstTouch.clientY
	}

	function handleTouchMove(evt: TouchEvent) {
		if (!xDown || !yDown) {
			return
		}

		const xUp = evt.touches[0].clientX
		const yUp = evt.touches[0].clientY

		const xDiff = xDown - xUp
		const yDiff = yDown - yUp

		if (Math.abs(xDiff) > Math.abs(yDiff)) {
			/* most significant */
			if (xDiff > 0) {
				/* right swipe */
			} else {
				/* left swipe */
			}
		} else {
			if (yDiff > 0) {
				/* down swipe */
				handleScrollToSection("down")
			} else {
				/* up swipe */
				handleScrollToSection("up")
			}
		}
		/* reset values */
		xDown = null
		yDown = null
	}

	function handleResize() {
		if (window.innerWidth <= 1024) {
			window.removeEventListener("touchstart", handleTouchStart, false)
			window.removeEventListener("touchmove", handleTouchMove, false)
			window.removeEventListener("wheel", handleWheel)
		} else {
			window.addEventListener("touchstart", handleTouchStart, false)
			window.addEventListener("touchmove", handleTouchMove, false)
			window.addEventListener("wheel", handleWheel)
		}
	}

	function handleURLChange() {
		urlHash = window.location.hash

		const item = getItemByHash()
		const activeItem = getActiveItem()

		if (item === activeItem) return

		indicatorPosition(item)
		setActiveItem(item)
	}
	// end handlers

	// event listeners
	document.addEventListener(
		"astro:page-load",
		() => {
			const item: HTMLElement = getItemByHash()
			const section: HTMLElement = getSectionByHash()

			section.scrollIntoView()
			indicatorPosition(item, item)

			items.forEach((link) => {
				link.addEventListener("click", (e: Event) => {
					indicatorPosition(e.target as HTMLElement, link)
				})

				link.addEventListener("mouseenter", (e: Event) => {
					indicatorPosition(e.target as HTMLElement)
				})

				link.addEventListener("mouseleave", () => {
					const activeItem = getActiveItem()

					if (activeItem) {
						indicatorPosition(activeItem)
					}
				})
			})
		},
		{ once: true }
	)

	window.addEventListener("popstate", handleURLChange)

	window.addEventListener("wheel", handleWheel)

	window.addEventListener("touchstart", handleTouchStart, false)

	window.addEventListener("touchmove", handleTouchMove, false)

	window.addEventListener("resize", handleResize)

	if (window.innerWidth <= 1024) {
		window.removeEventListener("touchstart", handleTouchStart, false)
		window.removeEventListener("touchmove", handleTouchMove, false)
		window.removeEventListener("wheel", handleWheel)
	} else {
		window.addEventListener("touchstart", handleTouchStart, false)
		window.addEventListener("touchmove", handleTouchMove, false)
		window.addEventListener("wheel", handleWheel)
	}
	// end event listeners
</script>
